<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <!-- css style sheet  -->
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
  <title>ShopByYou</title>
  <!-- semantic css cdn  -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
  <!-- tab icon link  -->
  <link rel="shortcut icon" type="image/png"
    href="https://cdn.pixabay.com/photo/2017/07/08/19/32/symbol-2485366_1280.png" />
  <!-- jQuery  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
  <nav class="ui fixed inverted menu">
    <div class="ui container">
      <div class="header item">ShopByYou</div>
      <a href="/shop" class="item">Home</a>
     
       <select id="mainCategories" class="ui inverted dropdown" >
                <option value="">Categories</option>
                <option class="item" value="clothing"><a href="/category">Clothing</a></option>
                  <option class="item" value="household">Household</option>
                   <option class="item" value="accessories">Accessories</option>
                   <option class="item" value="auto">Auto</option>
                  <option class="item" value="electronics">Electronics</option>
                  <option class="item" value="services">Services</option>
                  <option class="item" value="outdoors">Outdoors</option>
                  <option class="item" value="sports">Sports</option>
                  <option class="item" value="pets">Pets</option>
              </select>
      {{#if user}}
      <a href="/favourite" class="item">Favorites</a>
      <a href="/sell" class="item">Sell</a>
      {{/if}}
      <div class="right menu">
        {{#if user}}
        <div class="header item">Welcome: {{ user.email }} </div>
        {{/if}}
        <a href="/cart" class="item">
          <i class="shopping cart icon"></i>Shopping Cart</a>
        {{#unless user}}
        <div class="item">
          <a class="ui inverted primary button" href="/">Log in</a>
        </div>
        {{else}}
        <div class="item">
          <a class="ui inverted violet button" href="/logout">Logout</a>
        </div>
      </div>
    </div>
    {{/unless}}
  </nav>
  {{{body}}}
  <div class="empty-space"></div>
  <footer class="ui inverted vertical footer segment" id="footer2">
    <div class="ui small header centered"> &copy; 2020</div>
    <a class="ui right" href="https://github.com/lynseahoss" target="blank"> <i class="fab fa-github"></i></a>
  </footer>
  <!-- jQuery cdn  -->

  <!-- semantic jQuery cdn  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
  <script src="/assets/js/signup.js"></script>
  <script src="/assets/js/login.js"></script>
  <script src="/assets/js/category.js"></script>
  
</body>

</html>