<nav class="ui fixed inverted menu">
      <div class="ui container">
        <div class="header item">ShopByYou</div>
        <a href="/" class="item">Home</a>
        <div class="ui simple dropdown item">
          <a href="/category"> Categories <i class="dropdown icon"></i></a>
          <div class="menu">
            <a class="item" href="#">Women</a>
            <a class="item" href="#">Men</a>
            <div class="divider"></div>
            <div class="item" href="#">Household</div>
            <a class="item" href="#">Accessories</a>
          </div>
        </div>
        <a href="/favourite" class="item">Favorites</a>
        <a href="/sell" class="item">Sell</a>
        <div class="right menu">
          <div class="header item">Welcome:{{!-- handlbars --}}</div>
          <a href="/cart" class="item">
            <i class="shopping cart icon"></i>Shopping Cart</a>
          <div class="item">
            <div class="ui inverted violet button" href="/">Logout</div>
          </div>
        </div>
      </div>
    </nav>
<header class="ui center aligned container">
      <div class="ui sizer vertical segment">
        <div class="ui huge header">Shopping Cart</div>
        <p></p>
      </div>
    </header>
    <main>
      <div class="ui container">
        <div class="ui relaxed divided items">
          <div class="item">
            <div class="ui small image">
              <img
                src="https://assets.awwwards.com/awards/images/2013/06/secret-life-heroes%20(44).jpg"
              />
            </div>
            <div class="content">
              <a class="header">Item Name {{!-- handlbars --}}</a>
              <div class="meta">
                <span class="quantity">Price: {{!-- handlbars --}}</span>
              </div>
              <div class="meta">
                <span class="quantity">Quantity: {{!-- handlbars --}} </span>
              </div>
              <div class="description">
                <div class="meta">
                  <a><i class="trash alternate outline icon"></i>Remove {{!-- handlbars --}}</a>
                </div>
                A description which may flow for several lines and give context
                to the content.
              </div>
            </div>
          </div>
        </div>
        <div class="ui right aligned container">
          <div class="ui right action input">
            <div class="ui inverted labeled icon segment">
              <i class="cart icon"></i>
              Total Price
            </div>
          </div>
          <div class="ui compact message">
            <p>$100 {{!-- handlbars --}}</p>
          </div>
        </div>
      </div>
    </main>