 <nav class="ui fixed inverted menu">
      <div class="ui container">
        <div class="header item">
          ShopByYou
        </div>
        <a href="/index" class="item">Home</a>
        <div class="ui simple dropdown item">
          <a href="/category"> Categories <i class="dropdown icon"></i></a>
          <div class="menu">
            <a class="item" href="#">Women</a>
            <a class="item" href="#">Men</a>
            <div class="divider"></div>
            <div class="item" href="#">Household</div>
            <a class="item" href="#">Accessories</a>
          </div>
        </div>
        <a href="/favourite" class="item">Favorites</a>
        <a href="/sell" class="item">Sell</a>
        <div class="right menu">
          <div class="item">
            <a class="ui inverted primary button" href="/">Log in</a>
          </div>
          <div class="item">
            <a class="ui inverted violet button" href="/signup">Sign Up</a>
          </div>

          <a href="/cart" class="item">
            <i class="shopping cart icon"></i>Shopping Cart</a>
        </div>
      </div>
    </nav>
    <header class="ui center aligned container">
      <div class="ui sizer vertical segment">
        <h2 class="ui blue header">
          <div class="content">
            Login to Your Account
          </div>
        </h2>
      </div>
    </header>
    <main class="ui main text container">
      <div class="ui center aligned container">
        <div class="ui two column centered grid">
          <div class="column">
            <form class="ui large form" id="login-form">
              <div class="ui inverted stacked segment">
                <div class="field">
                  <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input
                      type="text"
                      name="email"
                      placeholder="E-mail address"
                      id="email-input"
                    />
                  </div>
                </div>
                <div class="field">
                  <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input
                      type="password"
                      name="password"
                      placeholder="Password"
                      id="pass-input"
                    />
                  </div>
                </div>
                <div class="ui inverted fluid large primary submit button" id="login-btn">
                  Login
                </div>
              </div>
              <div class="ui error message"></div>
            </form>
            <div class="ui inverted message">
                <div class="ui vertical stripe segment">
              New to us? <a href="/signup" class="ui text white">Sign Up </a>
              || Browse Shop as <a href="/guest_shop" class="ui text white">Guest</a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script>
      $(function() {
    // Getting references to our form and inputs
    var loginBtn = $("#login-btn");
    var emailInput = $("#email-input");
    var passwordInput = $("#pass-input");
  
    // When the form is submitted, we validate there's an email and password entered
    loginBtn.on("click", function(event) {
      event.preventDefault();
      var userData = {
        email: emailInput.val().trim(),
        password: passwordInput.val().trim()
      };
  
      if (!userData.email || !userData.password) {
        return;
      }
  
      // If we have an email and password we run the loginUser function and clear the form
      loginUser(userData.email, userData.password);
      emailInput.val("");
      passwordInput.val("");
    });
  
    // loginUser does a post to our "api/login" route and if successful, redirects us the the members page
    function loginUser(email, password) {
      $.post("/api/login", {
        email: email,
        password: password
      })
        .then(function() {
          window.location.replace("/members");
          // If there's an error, log the error
        })
        .catch(function(err) {
          console.log(err);
        });
    }
  });
  
    </script>