 <nav class="ui fixed inverted menu">
      <div class="ui container">
        <div class="header item">
          ShopByYou
        </div>
        <a href="/index" class="item">Home</a>
        <div class="ui simple dropdown item">
          <a href="/category"> Categories <i class="dropdown icon"></i></a>
          <div class="menu">
            <a class="item" href="#">Women</a>
            <a class="item" href="#">Men</a>
            <div class="divider"></div>
            <div class="item" href="#">Household</div>
            <a class="item" href="#">Accessories</a>
          </div>
        </div>
        <a href="/favourite" class="item">Favorites</a>
        <a href="/sell" class="item">Sell</a>
        <div class="right menu">
          <div class="item">
            <a class="ui inverted primary button" href="/">Log in</a>
          </div>
          <div class="item">
            <a class="ui inverted violet button" href="/signup">Sign Up</a>
          </div>

          <a href="/cart" class="item">
            <i class="shopping cart icon"></i>Shopping Cart</a>
        </div>
      </div>
    </nav>
    <header class="ui center aligned container">
      <div class="ui sizer vertical segment">
        <h2 class="ui blue header">
          <div class="content">
            Login to Your Account
          </div>
        </h2>
      </div>
    </header>
    <main class="ui main text container">
      <div class="ui center aligned container">
        <div class="ui two column centered grid">
          <div class="column">
            <form class="ui large form">
              <div class="ui inverted stacked segment">
                <div class="field">
                  <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input
                      type="text"
                      name="email"
                      placeholder="E-mail address"
                    />
                  </div>
                </div>
                <div class="field">
                  <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input
                      type="password"
                      name="password"
                      placeholder="Password"
                    />
                  </div>
                </div>
                <button type="submit" class="ui inverted fluid large primary submit button">
                  Login
                </button>
              </div>
              <div class="ui error message"></div>
            </form>
            <div class="ui inverted message">
                <div class="ui vertical stripe segment">
              New to us? <a href="/signup" class="ui text white">Sign Up </a>
              || Browse Shop as <a href="/guest_shop" class="ui text white">Guest</a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </main>