    <header class="ui center aligned container">
      <div class="ui sizer vertical segment">
        <div class="ui huge header">ShopByYou</div>
      </div>
    </header>
     <main class="ui center aligned container">
      <div class="ui four cards">
        <div class="ui stackable four column grid">
          <div class="column">
            <div class="ui card">
              <div class="content">
                <div class="header">
                  <img
                    src="https://assets.awwwards.com/awards/images/2013/06/secret-life-heroes%20(44).jpg"
                    class="ui right spaced image"
                  />
                  <h3>Item Name {{!-- handlbars --}}</h3>
                </div>
                <div class="description ui left aligned">
                  <p>
                        Lorem ipsum dxolor, sit amet consectetur adipisicing elit. Expedita dolorem sit qui ex, repudiandae pariatur itaque ea nemo ad quis laudantium vitae. Eveniet quia aliquam delectus error ipsam. Doloremque, libero!
                        {{!-- handlbars --}}
                  </p>
                  <div class="meta ui left aligned">
                    <span class="price">Price: 
                        {{!-- handlebars --}}
                    </span>
                  </div>
                  <div class="meta ui left aligned">
                    <span class="quantity">Quantity: 
                        {{!-- handlebars --}}
                    </span>
                  </div>
                  <div class="meta ui left aligned">
                    <span class="category">Category: 
                        {{!-- handlebars --}}
                    </span>
                  </div>
                  <div class="meta ui left aligned">
                    <span class="date">Date Posted: 
                        {{!-- handlebars --}}
                    </span>
                  </div>
                </div>
              </div>
              <div class="ui two bottom attached buttons">
                <button type="submit" class="ui inverted purple button">
                  <i class="add icon"></i>
                  Cart {{!-- handlbars --}}
                </button>
                <button type="submit" class="ui inverted pink button">
                  <i class="heart outline like icon"></i>
                  Favorite {{!-- handlbars --}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
