<nav class="ui fixed inverted menu">
      <div class="ui container">
        <a href="#" class="header item">
          ShopByYou
        </a>
        <a href="index.html" class="item">Home</a>
        <div class="ui simple dropdown item">
          <a href="category.html"> Categories <i class="dropdown icon"></i></a>
          <div class="menu">
            <a class="item" href="#">Women</a>
            <a class="item" href="#">Men</a>
            <div class="divider"></div>
            <div class="item" href="#">Household</div>
            <a class="item" href="#">Accessories</a>
          </div>
        </div>
        <a href="favourite.html" class="item">Favorites</a>
        <a href="sell.html" class="item">Sell</a>

        <div class="right menu">
          <div class="item">
            <a class="ui inverted primary button" href="login.html">Log in</a>
          </div>
          <div class="item">
            <a class="ui inverted violet button" href="signup.html">Sign Up</a>
          </div>

          <a href="cart.html" class="item"
            ><i class="shopping cart icon"></i>Shopping Cart</a
          >
        </div>
      </div>
    </nav>
    <header class="ui center aligned container">
      <div class="ui sizer vertical segment">
        <h2 class="ui header">
          <div class="content">
            Post and Sell Your Item
          </div>
        </h2>
        <p></p>
      </div>
    </header>
    <main>
      <div class="ui center aligned container">
        <div class="ui two column centered grid">
          <div class="column">
            <form class="ui large form">
              <div class="ui inverted stacked segment">
                <div class="field">
                  <div class="ui left icon input">
                    <i class="tag icon"></i>
                    <input type="text" name="item" placeholder="Name of Item" />
                  </div>
                </div>
                <div class="field">
                  <div class="ui left icon input">
                    <i class="money bill alternate outline icon"></i>
                    <input
                      type="text"
                      name="price"
                      placeholder="Price of Item"
                    />
                  </div>
                </div>
                <div class="field">
                  <div class="ui left icon input">
                    <i class="bars icon"></i>
                    <input
                      type="text"
                      name="category"
                      placeholder="Item Category"
                    />
                  </div>
                  
                </div>
                <div class="field">
                  <div class="ui left icon input">
                    <i class="plus square outline icon"></i>
                    <input
                      type="text"
                      name="quantity"
                      placeholder="Item Quantity"
                    />
                  </div>
                </div>
                <div class="field" enctype="multipart/form-data">
                  <div class="ui action input">
                      <!-- <input type="text" placeholder="File 1" readonly> -->
                      <input type="file">
                      <!-- <div class="ui icon button">
                        <i class="attach icon"></i>
                      </div> -->
                  </div>
                </div>

                <div class="field">
                  <label>Description of Item</label>
                  <textarea></textarea>
                </div>
                <div class="ui inverted fluid large purple submit button">
                  Submit
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
   