    <header class="ui center aligned container">
      <div class="ui sizer vertical segment">
        <h2 class="ui violet header">
          <div class="content">
            Sign Up For A New Account
          </div>
        </h2>
      </div>
    </header>
    <main class="ui main text container">
      <div class="ui center aligned container">
        <div class="ui two column centered grid">
          <div class="column">
            <form class="ui large form" id="signupForm">
              <div class="ui inverted stacked segment">
                <div class="field">
                  <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input
                      type="text"
                      name="email"
                      placeholder="E-mail address"
                      id="email-input"
                    />
                  </div>
                </div>
                <div class="field">
                  <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input
                      type="password"
                      name="password"
                      placeholder="Password"
                      id="password-input"
                    />
                  </div>
                </div>
                <div class="field">
                  <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input
                      type="password"
                      name="password"
                      placeholder="Verify Password"
                      id="verPass"
                    />
                  </div>
                </div>
                <button type="submit" class="ui inverted fluid large violet submit button" id="signUpBtn">
                  Sign Up
                </button>
              </div>
              <div class="ui error message"></div>
            </form>
            <div class="ui inverted message">
              Already have an account? <a href="/">Login</a> 
              <br>
              Browse Shop as <a href="/shop" class="ui text white">Guest</a>
            </div>
          </div>
        </div>
      </div>
    </main>

