header{
    margin-top: 5em;
  margin-bottom: 2em;
}
#mainCategories{
  margin-top:0.3em;
  background-color: black;
  color:white;
}

#footer2 {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 35px;
  z-index: 2;
}

.empty-space {
  height: 10%;
}

img{
  height: 225px;
  width: 350px;
}

